<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckt.ckttodo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.NewTaskActivity"/>
        <activity
            android:name=".ui.LockScreenActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ckt.ckttodo.lockscreen"
            android:theme="@style/LockScreenTheme"/>
        <activity android:name=".ui.NewNoteActivity"/>
        <activity android:name=".ui.AboutActivity"/>
        <activity
            android:name=".ui.ChartActivity"
            android:label="@string/dataCount"/>
        <activity android:name=".ui.FinishedTaskActivity"/>
        <activity
            android:name=".ui.ClockAnimationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.VoiceActivity"/>

        <receiver android:name=".util.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.ckt.ckttodo.alarm"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".util.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.TaskDetailActivity"/>
        <activity android:name=".ui.NewPlanActivity"/>
        <activity android:name=".ui.PlanDetailActivity"/>
        <activity android:name=".ui.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->

            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.SignUpActivity"/>

        <service
            android:name=".service.PomodoCubeService"
            android:enabled="true"
            android:exported="true"
            android:singleUser="true"/>

        <activity android:name=".ui.NoteActivity">
        </activity>
    </application>

</manifest>